.wrap.good {
  margin-bottom: 10px;
  position: relative;
}
.button_arrow {
  display: table;
  float: right;
  margin: 30px 0;
}
.head_good {
  position: relative;
  top: 0;
}
.left_arrow {
  margin-right: 20px;
  width: 15px;
  height: 15px;
  display: inline-block;
  background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4Ij4KICA8Zz4KICAgIDxwYXRoIGQ9Im00MC40LDEyMS4zYy0wLjgsMC44LTEuOCwxLjItMi45LDEuMnMtMi4xLTAuNC0yLjktMS4yYy0xLjYtMS42LTEuNi00LjIgMC01LjhsNTEtNTEtNTEtNTFjLTEuNi0xLjYtMS42LTQuMiAwLTUuOCAxLjYtMS42IDQuMi0xLjYgNS44LDBsNTMuOSw1My45YzEuNiwxLjYgMS42LDQuMiAwLDUuOGwtNTMuOSw1My45eiIgZmlsbD0iIzkxOGI3YiIvPgogIDwvZz4KPC9zdmc+Cg==);
  background-position: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.right_arrow {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4Ij4KICA8Zz4KICAgIDxwYXRoIGQ9Im00MC40LDEyMS4zYy0wLjgsMC44LTEuOCwxLjItMi45LDEuMnMtMi4xLTAuNC0yLjktMS4yYy0xLjYtMS42LTEuNi00LjIgMC01LjhsNTEtNTEtNTEtNTFjLTEuNi0xLjYtMS42LTQuMiAwLTUuOCAxLjYtMS42IDQuMi0xLjYgNS44LDBsNTMuOSw1My45YzEuNiwxLjYgMS42LDQuMiAwLDUuOGwtNTMuOSw1My45eiIgZmlsbD0iIzkxOGI3YiIvPgogIDwvZz4KPC9zdmc+Cg==);
  background-position: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
.prev,
.next {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  cursor: pointer;
  color: black;
  z-index: 20;
  background: transparent;
  opacity: 0.8;
  border: none;
}
.prev:hover,
.next:hover {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.next {
  right: 0;
}
.next:before {
  content: "";
  margin: 20px;
  width: 50px;
  height: 50px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  display: inline-block;
  float: right;
}
.prev {
  left: 0;
}
.prev:before {
  content: "";
  margin: 20px;
  width: 50px;
  height: 50px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: inline-block;
  float: right;
}
.slick-dots li.slick-active button::after {
  font-family: 'slick';
  font-size: 10px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: 1;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.photos {
  width: 53%;
  float: left;
}
.photos .slick-dots {
  bottom: 20px;
}
.photos .slick-dots li button:before {
  font-size: 15px;
  color: white;
}
.photos .slick-dots li.slick-active button:before {
  color: white;
}
.photos img {
  width: 100%;
}
.good .info_goods {
  width: 47%;
  float: left;
  padding-left: 3%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 100px;
}
.info_goods .sub_title {
  text-align: left;
  font-size: 1.9em;
}
.info_goods .description {
  padding: 30px 0;
  line-height: 24px;
  font-family: "Lato light";
}
.info_goods .title {
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #7b7460;
}
.name_dress {
  font-family: "PT Serif";
  text-transform: capitalize;
  font-size: 2.5em;
  padding: 0;
  line-height: 43px;
}
.type_dress {
  font-family: "PT Serif";
  text-transform: capitalize;
  font-size: 1.2em;
}
.code_dress {
  color: #dfdeda;
  font-size: 1.1em;
}
.price {
  font-size: 1.9em;
  margin: 30px 0;
}
.colors,
.sizes {
  position: relative;
}
.select.colors,
.select.sizes {
  z-index: -1;
  opacity: 0;
  position: absolute;
  text-align: right;
  right: 0;
  width: 100%;
  top: 108%;
  background: white;
  -webkit-box-shadow: 4px 4px 4px rgba(173, 173, 170, 0.2);
          box-shadow: 4px 4px 4px rgba(173, 173, 170, 0.2);
}
.decor .select.colors,
.decor .select.sizes {
  opacity: 1;
  -webkit-transition: opacity 0.8s ;
  transition: opacity 0.8s ;
  z-index: 30;
}
.select li {
  cursor: pointer;
  padding: 5px 10px;
  z-index: 33;
}
.select li:hover {
  -webkit-box-shadow: inset 0 0 50px rgba(136, 136, 136, 0.43);
          box-shadow: inset 0 0 50px rgba(136, 136, 136, 0.43);
}
.select_good {
  color: #797762;
  padding: 15px 0;
  margin: 40px 0 0;
  width: 100%;
  border-bottom: 1px solid #e7e6e2;
}
.select_good .label {
  float: left;
  text-transform: uppercase;
}
.select_good .color,
.select_good .size {
  float: right;
  text-align: right;
  text-transform: capitalize;
}
.select_good .color:after,
.select_good .size:after {
  content: "";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  background: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDQxLjk5OSA0MS45OTkiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQxLjk5OSA0MS45OTk7IiB4bWw6c3BhY2U9InByZXNlcnZlIiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4Ij4KPHBhdGggZD0iTTM2LjA2OCwyMC4xNzZsLTI5LTIwQzYuNzYxLTAuMDM1LDYuMzYzLTAuMDU3LDYuMDM1LDAuMTE0QzUuNzA2LDAuMjg3LDUuNSwwLjYyNyw1LjUsMC45OTl2NDAgIGMwLDAuMzcyLDAuMjA2LDAuNzEzLDAuNTM1LDAuODg2YzAuMTQ2LDAuMDc2LDAuMzA2LDAuMTE0LDAuNDY1LDAuMTE0YzAuMTk5LDAsMC4zOTctMC4wNiwwLjU2OC0wLjE3N2wyOS0yMCAgYzAuMjcxLTAuMTg3LDAuNDMyLTAuNDk0LDAuNDMyLTAuODIzUzM2LjMzOCwyMC4zNjMsMzYuMDY4LDIwLjE3NnoiIGZpbGw9IiNjMWJjYWQiLz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPC9zdmc+Cg==) no-repeat 50%;
  width: 8px;
  height: 8px;
  display: inline-block;
  margin: 0 5px;
  background-size: contain;
}
.decor {
  border-bottom: 2px solid #c0a375;
}
.select_good:before {
  border-bottom: 2px solid #c0a375;
  -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
}
.select_good:before {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.select_good.colors::before,
.select_good.sizes::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}
.select_good.colors::before,
.select_good.sizes::before {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform-origin: center;
          transform-origin: center;
}
.select_good.colors::before,
.select_good.sizes::before {
  border-bottom: 2px solid #c0a375;
  -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
}
.select_good.colors:hover::before,
.select_good.sizes:hover::before {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.button_buy {
  color: white;
  border: 1px solid #c0a375;
  background: #c0a375;
  margin-right: 10%;
}
.button_buy:after {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  -webkit-transform: rotate(135deg) translate(0, 50%);
          transform: rotate(135deg) translate(0, 50%);
  display: inline-block;
  float: right;
  top: 50%;
  position: relative;
}
.button_question {
  color: #c0a375;
  border: 1px solid #c0a375;
  background: white;
}
.button_question:after {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #c0a375;
  border-left: 2px solid #c0a375;
  -webkit-transform: rotate(135deg) translate(0, 50%);
          transform: rotate(135deg) translate(0, 50%);
  display: inline-block;
  float: right;
  top: 50%;
  position: relative;
}
.button_buy,
.button_question {
  font-family: "Open Sans";
  font-size: 0.9em;
  text-align: left;
  padding: 20px 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 300px;
  width: 45%;
  float: left;
  height: 60px;
  display: inline-block;
  cursor: pointer;
  text-transform: capitalize;
}
.question {
  cursor: pointer;
  border-bottom: 1px solid #7c745f;
  margin: 40px;
  color: #7c745f;
}
.see_detalis {
  margin: 20px 0 0;
  display: inline-block;
  text-transform: uppercase;
  color: #7c745f;
}
.see_detalis:after {
  content: "";
  width: 50px;
  height: 5px;
  margin-left: 20px;
  border-right: 1px solid #e6e7e2;
}
.dimension_table {
  font-size: 0.7em;
  text-decoration: underline;
  text-transform: uppercase;
  display: block;
  color: #7c745f;
  padding: 0;
  margin: 10px 0 30px;
}
.pop_up.dimension_table {
  display: none;
  z-index: 90;
}
.pop_up.dimension_table .center {
  position: relative;
  width: 96%;
  height: 98%;
  max-width: 800px;
  margin: auto;
  background-size: cover;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.pop_up.dimension_table .center img {
  width: 100%;
}
.pop_up .output {
  position: absolute;
  top: 0;
  right: 0;
}
.add_goods {
  margin: 60px 0;
  display: block;
}
.chek_goods {
  display: inline-block;
}
.block_goods {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.block_goods .photo {
  width: 30%;
}
.block_goods .info_good {
  display: inline-block;
  padding: 5px;
}
.block_goods .info_good .name_good {
  color: #c0a375;
}
.block_goods .info_good .prise_good {
  color: black;
}
.option-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
  -webkit-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: white;
  border: 1px solid #cbd1d8;
  color: #c0a375;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: white;
}
.option-input:checked {
  background: white;
}
.option-input:checked::before {
  height: 20px;
  width: 20px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 16.66667px;
  text-align: center;
  line-height: 20px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: white;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
body label {
  display: block;
  line-height: 20px;
}
.recom .good {
  width: 25%;
}
.info_goods .button_arrow {
  display: none;
}
@media (max-width: 768px) {
  .head_good {
    display: none;
  }
  .good .info_goods {
    width: 100%;
    padding: 0;
  }
  .info_goods .button_arrow {
    display: block;
  }
  .photos {
    width: 100%;
  }
  .recom .good {
    width: 50%;
  }
  .block_goods {
    width: 100%;
    text-transform: capitalize;
  }
}
