.wrap.good {
  margin-bottom: 10px;
  position: relative;
}
.button_arrow {
  display: table;
  float: right;
  margin: 30px 0;
}
.head_good {
  position: relative;
  top: 0;
}
.left_arrow {
  margin-right: 20px;
  width: 15px;
  height: 15px;
  display: inline-block;
  background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4Ij4KICA8Zz4KICAgIDxwYXRoIGQ9Im00MC40LDEyMS4zYy0wLjgsMC44LTEuOCwxLjItMi45LDEuMnMtMi4xLTAuNC0yLjktMS4yYy0xLjYtMS42LTEuNi00LjIgMC01LjhsNTEtNTEtNTEtNTFjLTEuNi0xLjYtMS42LTQuMiAwLTUuOCAxLjYtMS42IDQuMi0xLjYgNS44LDBsNTMuOSw1My45YzEuNiwxLjYgMS42LDQuMiAwLDUuOGwtNTMuOSw1My45eiIgZmlsbD0iIzkxOGI3YiIvPgogIDwvZz4KPC9zdmc+Cg==);
  background-position: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.right_arrow {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4Ij4KICA8Zz4KICAgIDxwYXRoIGQ9Im00MC40LDEyMS4zYy0wLjgsMC44LTEuOCwxLjItMi45LDEuMnMtMi4xLTAuNC0yLjktMS4yYy0xLjYtMS42LTEuNi00LjIgMC01LjhsNTEtNTEtNTEtNTFjLTEuNi0xLjYtMS42LTQuMiAwLTUuOCAxLjYtMS42IDQuMi0xLjYgNS44LDBsNTMuOSw1My45YzEuNiwxLjYgMS42LDQuMiAwLDUuOGwtNTMuOSw1My45eiIgZmlsbD0iIzkxOGI3YiIvPgogIDwvZz4KPC9zdmc+Cg==);
  background-position: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
.prev,
.next {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  cursor: pointer;
  color: black;
  z-index: 20;
  background: transparent;
  opacity: 0.8;
  border: none;
}
.prev:hover,
.next:hover {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.next {
  right: 0;
}
.next:before {
  content: "";
  margin: 20px;
  width: 50px;
  height: 50px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  display: inline-block;
  float: right;
}
.prev {
  left: 0;
}
.prev:before {
  content: "";
  margin: 20px;
  width: 50px;
  height: 50px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: inline-block;
  float: right;
}
.slick-dots li.slick-active button::after {
  font-family: 'slick';
  font-size: 10px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: 1;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.photos {
  width: 53%;
  float: left;
}
.photos .slick-dots {
  bottom: 20px;
}
.photos .slick-dots li button:before {
  font-size: 15px;
  color: white;
}
.photos .slick-dots li.slick-active button:before {
  color: white;
}
.photos img {
  width: 100%;
}
.good .info_goods {
  width: 47%;
  float: left;
  padding-left: 3%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 100px;
}
.info_goods .sub_title {
  text-align: left;
  font-size: 1.9em;
}
.info_goods .description {
  padding: 30px 0;
  line-height: 24px;
  font-family: "Lato light";
}
.info_goods .title {
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #7b7460;
}
.name_dress {
  font-family: "PT Serif";
  text-transform: capitalize;
  font-size: 2.5em;
  padding: 0;
  line-height: 43px;
}
.type_dress {
  font-family: "PT Serif";
  text-transform: capitalize;
  font-size: 1.2em;
}
.code_dress {
  color: #dfdeda;
  font-size: 1.1em;
}
.price {
  font-size: 1.9em;
  margin: 30px 0;
}
.select.colors,
.select.sizes {
  z-index: -1;
  opacity: 0;
  position: absolute;
  text-align: right;
  right: 0;
  width: 100%;
  top: 108%;
  background: white;
  -webkit-box-shadow: 4px 4px 4px rgba(173, 173, 170, 0.2);
          box-shadow: 4px 4px 4px rgba(173, 173, 170, 0.2);
}
.decor .select.colors,
.decor .select.sizes {
  opacity: 1;
  -webkit-transition: opacity 0.8s ;
  transition: opacity 0.8s ;
  z-index: 30;
}
.button_buy {
  color: white;
  border: 1px solid #c0a375;
  background: #c0a375;
  margin-right: 10%;
}
.button_buy:after {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  -webkit-transform: rotate(135deg) translate(0, 50%);
          transform: rotate(135deg) translate(0, 50%);
  display: inline-block;
  float: right;
  top: 50%;
  position: relative;
}
.button_question {
  color: #c0a375;
  border: 1px solid #c0a375;
  background: white;
}
.button_question:after {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #c0a375;
  border-left: 2px solid #c0a375;
  -webkit-transform: rotate(135deg) translate(0, 50%);
          transform: rotate(135deg) translate(0, 50%);
  display: inline-block;
  float: right;
  top: 50%;
  position: relative;
}
.button_buy,
.button_question {
  font-family: 'Lato Regular';
  font-size: 0.9em;
  text-align: left;
  padding: 20px 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 300px;
  width: 45%;
  float: left;
  height: 60px;
  display: inline-block;
  cursor: pointer;
  text-transform: capitalize;
}
.question {
  cursor: pointer;
  border-bottom: 1px solid #7c745f;
  margin: 40px;
  color: #7c745f;
}
.see_detalis {
  margin: 20px 0 0;
  display: inline-block;
  text-transform: uppercase;
  color: #7c745f;
}
.see_detalis:after {
  content: "";
  width: 50px;
  height: 5px;
  margin-left: 20px;
  border-right: 1px solid #e6e7e2;
}
.dimension_table {
  cursor: pointer;
  font-size: 0.7em;
  text-decoration: underline;
  text-transform: uppercase;
  display: block;
  color: #7c745f;
  padding: 0;
  margin: 10px 0 30px;
}
.size_table {
  display: none;
  z-index: 99999;
}
.size_table .center {
  position: absolute;
  width: 96%;
  height: 98%;
  max-width: 800px;
  max-height: 400px;
  margin: auto;
  background-size: cover;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.size_table .center img {
  width: 100%;
}
.pop_up .output {
  position: absolute;
  top: 10px;
  right: 10px;
}
.add_goods {
  margin: 60px 0;
  display: block;
}
.chek_goods {
  display: inline-block;
}
.block_goods {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.block_goods .photo {
  width: 30%;
  padding: 1px;
  border: 1px solid #c0a375;
  background: white;
  border-radius: 10%;
  border-image-slice: 50;
  border-image-repeat: repeat;
}
.block_goods .info_good {
  display: inline-block;
  padding: 5px;
}
.block_goods .info_good .name_good {
  color: #c0a375;
}
.block_goods .info_good .prise_good {
  color: black;
}
.option-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
  -webkit-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: white;
  border: 1px solid #cbd1d8;
  color: #c0a375;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: white;
}
.option-input:checked {
  background: white;
}
.option-input:checked::before {
  height: 20px;
  width: 20px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 16.66667px;
  text-align: center;
  line-height: 20px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: white;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
body label {
  display: block;
  line-height: 20px;
}
.recom .good {
  width: 25%;
}
.info_goods .button_arrow {
  display: none;
}
.pop_question {
  z-index: 1000000;
}
.pop_question .center {
  position: absolute;
  width: 96%;
  height: 98%;
  max-width: 900px;
  max-height: 500px;
  margin: auto;
  background-size: cover;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: white;
}
.pop_question .center input {
  color: #797762;
  width: 90%;
  padding: 20px 10px;
  font-size: 1em;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #e8e6e3;
}
.pop_question .center .forma {
  width: 90%;
  margin: 0 auto;
}
.left,
.right {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.forma.messages {
  width: 90%;
  height: 100px;
}
.pop_question .title_h1 {
  margin: 30px;
}
.pop_question .cast_select {
  margin: 0;
  width: 90%;
  padding: 20px 10px ;
}
.pop_question .cast_select .label {
  text-transform: capitalize;
}
.pop_question .messages {
  float: left;
  font-family: "Lato Regular";
  text-transform: capitalize;
  color: #797762;
  font-size: 1em;
  padding: 20px 10px;
  width: 90%;
  border: none;
  border-bottom: 1px solid #e8e6e3;
  max-height: 80px;
  height: 75px;
}
.center .title_h1 {
  color: #5e5a4f;
  font-family: "PT Serif";
}
.button_send {
  text-transform: uppercase;
  background: #c0a375;
  border: none;
  color: white;
  padding: 10px 40px;
  display: table;
  margin: 40px auto;
}
@media (max-width: 768px) {
  .head_good {
    display: none;
  }
  .good .info_goods {
    width: 100%;
    padding: 0;
  }
  .info_goods .button_arrow {
    display: block;
  }
  .photos {
    width: 100%;
  }
  .recom .good {
    width: 50%;
  }
  .block_goods {
    width: 100%;
    text-transform: capitalize;
  }
  .block_goods .photo {
    width: 10%;
  }
}
