.wrap_news {
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
  max-width: 1070px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.head.news .title_h1 {
  margin: 0;
  text-transform: capitalize;
}
.head.news .sub_title {
  line-height: 24px;
  margin-bottom: 3%;
}
.wrap_news .news:first-child,
.wrap_news .news:nth-child(8n+1) {
  position: relative;
  display: initial;
  padding: 0;
  margin: 0;
  float: none;
}
.wrap_news .news:first-child img,
.wrap_news .news:nth-child(8n+1) img {
  width: 100%;
  margin-bottom: 20px ;
}
.news:nth-child(8n+1) .artical {
  width: 50%;
  padding: 0  3%;
  margin: 0 -3%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
}
.news.artical {
  margin: 10px auto ;
}
.news:nth-child(2n) {
  width: 50%;
  float: right;
  padding: 0  3%;
  margin: 0 -3%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.news .artical {
  padding: 3%  0;
}
.news:nth-child(2n+1) {
  width: 50%;
  padding: 0  3%;
  margin: 0 -3%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
}
.show_more {
  text-transform: uppercase;
  display: table;
  margin: 50px auto;
  border: none;
  -webkit-box-shadow: 0 0 80px rgba(202, 202, 202, 0.46);
          box-shadow: 0 0 80px rgba(202, 202, 202, 0.46);
  padding: 15px 30px;
  background: transparent;
}
.pagination {
  display: table;
  margin: 0 auto 40px;
}
.number {
  display: inline-block;
  margin: 20px;
  color: #a7a295;
}
.number.active {
  color: #a48450;
  border-bottom: 1px solid #a48450;
}
