.wrap_news {
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
  max-width: 1070px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.head.news .title_h1 {
  margin: 0;
  text-transform: capitalize;
}
.head.news .sub_title {
  line-height: 24px;
  margin-bottom: 3%;
}
.news .photo {
  margin-bottom: 35px;
}
.news .category,
.news .date {
  margin-bottom: 25px;
}
.news .artical .name_artical {
  display: block;
  color: black;
  margin: 0;
}
.news .artical .text_artical {
  margin: 30px auto;
}
.news .artical .read_more {
  margin-bottom: 50px;
  display: inline-block;
}
.news .artical {
  padding: 0;
}
.wrap_news .news:first-child,
.wrap_news .news:nth-child(8n+1) {
  position: relative;
  display: initial;
  padding: 0;
  margin: 0;
  float: none;
}
.wrap_news .news:first-child .photo,
.wrap_news .news:nth-child(8n+1) .photo {
  width: 100%;
}
.news:nth-child(8n+1) .artical {
  width: 50%;
  padding-right: 3%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
}
.news.artical {
  margin: 10px auto ;
}
.news:nth-child(2n) {
  width: 50%;
  float: right;
  padding-left: 3%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.news:nth-child(9n+1),
.news:nth-child(2) {
  margin-top: 100px;
}
.news:nth-child(2n+1) {
  width: 50%;
  padding-right: 3%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
}
.show_more {
  text-transform: uppercase;
  display: table;
  margin: 50px auto;
  border: none;
  -webkit-box-shadow: 0 0 80px rgba(202, 202, 202, 0.46);
          box-shadow: 0 0 80px rgba(202, 202, 202, 0.46);
  padding: 15px 30px;
  background: transparent;
  letter-spacing: 3px;
  color: #7b7460;
}
.pagination {
  display: table;
  margin: 0 auto 80px;
}
.number {
  display: inline-block;
  margin: 20px;
  color: #a7a295;
}
.number.active {
  color: #c0a375;
  border-bottom: 1px solid #c0a375;
}
@media (max-width: 768px) {
  .news {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .news .artical {
    width: 100% !important;
    margin: 10px 0 !important;
    padding: 0 !important;
  }
}
